body{
	background-color: #efefef;
	font-family:'黑体'!important;
}
*{
	margin: 0 ;
	padding: 0;
	list-style: none;
}
a{
	color: #1b64b0;
    text-decoration: none;
}
a:hover{
	text-decoration: none !important;
	color: red !important;
}
.clear{
	clear: both;
}
.title h1{
	font-size:34px;
}
.col-md-5 {
    font-weight: normal;
}
.header{
	width: 100%;
	background-color:#1b64b0 ;
}
.title{
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: 70px 0;
}
.container{
	background-color: #efefef;
	width: 100% !important;
	margin: 0px !important;
	padding: 0px !important;
}
.row{
	width: 960px !important;
	margin: 0 auto !important;	
	min-height: 450px;
	color: #1b64b0;
	font-weight: bold;
	min-height: 440px;
}
.col-md-5,.col-md-7{
	font-size: 12px;
}
.gray{
	color: gray;
}
.userpage{
	margin: 32px auto 18px 0;
	text-align: center;
	font-weight: bold;
	font-size:16px;
}
.gray1{
	font-size:15px;
	color:gray;
}
.explanation li{
	font-size:11px;
	font-weight: normal;
}
.top{
	text-align: center;
	height: 80px;
}
.top h4{
	float: left;
	margin-left: 20px; 
}
.top img{
	width: 54px;
	float: left;
	height: 42px;
	margin: 19px 0;
}
.arealist{
	width: 100%;
	margin-bottom: 0px;
	min-height: 40px;
}
.arealist .area {
    float: left;
    font-size: 23px;
    width: 14%;
}
.arealist dd {
    float: left;
    font-size: 18px;
	margin-top: 3px;
	line-height: 40px;
	width: 86%;
}

.footer{
	background-color: #1b64b0;
    height: 100px;
    padding-top: 40px;
    padding-top: 40px;
    text-align: center;
    color: #9abbe4;
    font-size: 12px;
    margin-top:-10px;
}
.footer p a{
	color: #9abbe4;
}
.areah{
	margin-bottom: 21px;
}
.header-top{
	width:100%;
	text-align:center;
	padding:10px 0px;
	background-color: #efefef
}
.header-top a{
	color:#337ab7;
	display:block;
}
.header-top span{
		color:#0b0c0c;
}
.qingdao-main a{
	color:#337ab7;
	display:block;
	margin-top:10px;
	text-align:center;
}



/* Media Responsive Style */
@media only screen and (min-width: 992px){
	dd a{
		padding: 0 10px;
	}
	dt{
		line-height: 42px !important; 
	}
	.arealist dd .s{
	font-size: 14px;
   }
    .header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:20px;
	display:block;
}
}
/* Media Responsive Style */
@media only screen and (max-width: 991px){
	.top{
		height: 103px;
		width: 70%;
		margin: 0 auto;
	}
	.top h4{
		text-align: left !important;
	}
	.row{
		width: 100% !important;
	}
	.col-md-5{
		width: 80%;
		margin:0 auto !important;
		padding: 0 !important;
	}
	.col-md-7{
		width: 80%;
		margin:0 auto !important;
		padding: 0 !important;
	}
	.col-md-7 h4{
		text-align: center;
	}
	.container{
		width: 100% !important;
	}
	dd a{
		padding: 0;
		margin: 0;
	}
	.arealist dd .s{
	font-size: 13px;}
}
/* Media Responsive Style */
@media only screen and (min-width: 800px) and (max-width: 991px){
	.top img{
		width: 50px;
	}
	.arealist dd{
		margin-top: 0px;
		line-height: 35px;
	}
	.arealist dd .s{
		font-size:13px;
	}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:20px;

	display:block;
}

}
/* Media Responsive Style */
@media only screen and (min-width: 768px) and (max-width: 799px){
	.top img{
		width: 50px;
	}
	.arealist dd{
		margin-top: 0px;
		line-height: 30px;
	}
	.arealist dd .s{
		font-size:13px;
	}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:20px;
	display:block;

}
}
/* Media Responsive Style */
@media only screen and (min-width: 600px) and (max-width: 767px){
	.top{
		width: 87%;
	}

	.arealist dd{
		margin-top: 0px;
		line-height: 30px;
		width: 84%;
	}
	.arealist .area{
		width: 16%;
	}
	.arealist dd .s{
		font-size:13px;
	}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:20px;
	display:block;
}
}
/* Media Responsive Style */
@media only screen and (max-width: 599px){
	.top img{
		display: none;
	}
	.top{
		width: 100%;
		height: 80px;
	}
	.top h4{
		width: 100%;
		text-align: center !important;
		margin-left: 0px;
	}	
	.arealist dd .s{
		font-size:10px;
	}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:20px;
	display:block;
	font-weight:thin;
}
}
/* Media Responsive Style */
@media only screen and (min-width: 480px) and (max-width: 599px){

	.arealist dd{
		margin-top: 0px;
		width: 78%;
		line-height: 30px;
		font-size: 16px;
		margin-left: 11px;
	}
	.arealist dd .s{
		font-size:10px;
	}
	.arealist .area{
		width: 19%;
	}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:20px;
	display:block;
	font-weight:thin;
}
}
/* Media Responsive Style */
@media only screen and (min-width: 400px) and (max-width: 479px){	
	.container{
		width: 100% !important;
	}
	.col-md-5, .col-md-7{
		width: 100%;
		padding: 0 5px !important;
	}
	.title h1 {
	  font-size: 27px;
	}
	.top h4 .gray{
		font-size: 13px;
	}

	.arealist .area {
		width: 17%;
		font-size: 16px;
		margin-top: 5px;
	}
	.arealist dd {
	  width: 83%;
	  font-size: 16px;
	  line-height: 30px;
	}
	.arealist dd .s{
		font-size:10px;
	}
	.areah {
	  margin-left: auto;
	  margin-right: auto;
	  width: 85%;
	}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:18px;
	display:block;
	font-weight:thin;
}
}
/* Media Responsive Style */
@media only screen and (min-width: 320px) and (max-width: 399px){	
	.container{
		width: 100% !important;
	}
	.col-md-5, .col-md-7{
		width: 100%;
		padding: 0 5px !important;
	}
	.title h1 {
	  font-size: 27px;
	}
	.top h4 .gray{
		font-size: 13px;
	}

	.arealist .area {
		width: 17%;
		font-size: 16px;
		margin-top: 5px;
	}
	.arealist dd {
	  width: 83%;
	  font-size: 16px;
	  line-height: 30px;
	}
	.arealist dd .s{
	font-size: 10px;
}
	.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:18px;
	display:block;
	font-weight:thin;
}

}
/* Media Responsive Style */
@media only screen and (max-width: 319px){
	.top img {
		display: none;
	}	
	.container{
		width: 100% !important;
	}
	.col-md-5, .col-md-7{
		width: 100%;
		padding: 0 5px !important;
	}
	.title h1 {
	  font-size: 27px;
	}
	.top h4 .gray{
		font-size: 16px;
	}
	.arealist .area {
		width: 19%;
		font-size: 16px;
		margin-top: 9px;
	}
	.arealist dd {
	  width: 81%;
	  font-size: 15px;
	  line-height: 30px;
	}
    .arealist dd .s{
	font-size: 10px;
}
.header-top h1{
	text-align:center;
	font-size:24px;
	padding:10px 0px;
}
.qingdao-main a{
	text-align:center;
	font-size:18px;

	display:block;
	font-weight:thin;
}

}